<html>

<body>
<div>
    <form method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input type="text" name="text" placeholder="Enter your text" /><br>
        <button type="submit">Add</button>
    </form>
</div>
<div>List of pets</div>
{{#messages}}
    <div>
        <span>{{text}}</span>
    </div>
{{/messages}}
</body>
</html>